/* PÁGINA CONTACTO */


main {
  .formulario {
    padding: 6.8px;
    margin: 10px;
    background-color: $color-secundario;
    border: #ffffff solid 2px;
    ::placeholder {
      color: $color-texto-secundario;
    }

    label {
      padding-top: 1rem;
      margin-top: 1rem;
      color: $color-texto-secundario;
    }
    textarea,
    input {
      background-color: $color-fondo;
      &:focus {
        background-color: $color-fondo;
        color: $color-texto-secundario;
      }
    }
    .btn {
      background-color: $color-fondo;
      border-radius: 5.6rem;
      border-color: $color-fondo;
      text-align: center;
      color: $color-texto-principal;
      @include font ("Gotu", normal, 400, 1.8rem,0 );
      margin: 1rem;
      width: 200px;
      height: 80px;

      &:hover {
        color: $color-fondo;
        background-color: $color-texto-principal;
      }
    }

    @media screen and (max-width: 764px) {
      .btn {
        width: 130px;
        height: 50px;
        font-size: 1.3rem;
      }
    }
  }
  .fotos {
    display: flex;
    flex-wrap: wrap;
justify-content: center;
    img {
      padding: 10px;
      margin: 10px;
      width: 400px;
      &:hover {
        opacity: 0.8;
      }
    }
    @media screen and (max-width: 764px) {
      display: none;
    }
  }
}
