
/* DISCOGRAFÍA */
.grilla {
  table {
    width: 90%;
    height: 80%;
    @include font ("Gothic A1", normal, 700, 1rem, 2.7rem );
    text-align: center;
    color: $color-texto-secundario;
  }
  table,
  th,
  td {
    border: 1px solid #ffffff;
  }
  
  th,
  td {
    padding: 1rem;
  }
  .tapas {
    width: 12rem;
    &:hover {
      opacity: 0.8;
    }
  }
  @media screen and (max-width: 764px) {
    table {
      font-weight: 400;
      .tapas {
        width: 5rem;
      }
    }
    table {
      font-size: 0.8rem;
      line-height: 1rem;
      text-align: center;
      color: #ffffff;
      padding: 0.5rem;
      margin: 0.5rem;
    }
  
    th,
    td {
      padding: 0.5rem;
    }
  }
  
}

  .calabera {
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
    margin: 0.1rem;
    color: $color-texto-secundario;
    align-items: center;
    text-align: center;
    h5 {
      @include font ("Gilda Display", normal, 700, 1.8rem, 4rem );
    }
    p {
      width: 20rem;
      height: 46px;
      @include font ("Gilda Display", normal, 700, 1.8rem, 4rem );

    }
    img {
      border-radius: 60px;
      width: 12rem;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  
  