
/* PAGINA HISTORIA */

.historia__imagenes {
    width: 100%;
    padding: 2rem;
  }
  
  .historia__texto {
    color: $color-texto-secundario;
    @include font ("Gothic A1", normal, 400, 2rem, 3rem);
    padding: 2rem;
    margin: 2rem;
    text-align: justify;
  }
  @media screen and (max-width: 764px) {
    .historia__texto {
      font-size: 1.6rem;
    }
  }
  