/* 
INTEGRANTES */
body {
  main {
    .integrantes {
      padding: 1px 0;
      margin: 2px 0;
      div {
        div {
          img {
            width: 80%;
            border-radius: 100%;
            padding: 0 1rem 1rem 1rem;
            margin:  0.15rem 1rem 1rem 1rem;
            &:hover {
              opacity: 0.8;
            }
          }
          p {
            padding: 1rem;
            margin: 1rem;
            @include font("Gothic A1", normal, 700, 1.9rem, 3rem);
            text-align: justify;
            color: $color-texto-secundario;
            &:hover {
              color: $color-secundario;
            }
          }
        }
      }
    }
    @media screen and (max-width: 764px) {
      .integrantes {
        padding: 10px;
        margin: 10px;
        div {
          div {
            p {
              font-size: 3rem;
              line-height: 4rem;

            }
          }
        }
      }
    }
  }
}
